<div class="konzatuuu">
    <div class="suzukasutera">
        <div class="univgaku">
            <div class="daimei">
                <a name="早稲田大学">早稲田大学</a>
            </div>
            <div class="campus">
                <p> 早稲田キャンパス </p>
            </div>
            <div class="sakaana">
                <div class="tomotomo">
                    <a href="/konzatus/wasedaookuma">
                        大隈ガーデンハウスカフェテリア
                        <br>
                        <img class="irohasu" src="../../../assets/waseda_ookumagarden.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/wasedagroundzaka">
                        生協グラウンド坂食堂
                        <br>
                        <img class="irohasu" src="../../../assets/waseda_seikyouground.JPG" width="270" height="180">
                    </a>
                </div>
            </div>
        </div>
        <div class="univgaku">
            <div class="daimei">
                <a name="明治大学">明治大学</a>
            </div>
            <div class="campus">
                <p> 駿河台キャンパス </p>
            </div>
            <div class="sakaana">
                <div class="tomotomo">
                        <a href="/konzatus/msurugasky">
                            スカイラウンジ暁
                            <br>
                            <img class="irohasu" src="../../../assets/meiji_akatuki.jpg" width="270" height="180">
                        </a>
                </div>
                <div class="tomotomo">
                        <a href="/konzatus/msurugacafe">
                            カフェパンセ
                            <br>
                            <img class="irohasu" src="../../../assets/meiji_kafepan.jpg" width="270" height="180">
                        </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/msurugasan">
                        サロン燦
                        <br>
                        <img class="irohasu" src="../../../assets/meiji_saron.bmp" width="270" height="180">
                    </a>
                </div>
            </div>
        </div>
        <div class="univgaku">
            <div class="campus">
                <p> 和泉キャンパス </p>
            </div>
            <div class="sakaana">
                <div class="tomotomo">
                    <a href="/konzatus/mizumimori1">
                        和泉の杜1階
                        <br>
                        <img class="irohasu" src="../../../assets/mizumimori1.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/mizumimori2">
                        和泉の杜2階
                        <br>
                        <img class="irohasu" src="../../../assets/mizumimori2.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/mizumimori3">
                        和泉の杜3階
                        <br>
                        <img class="irohasu" src="../../../assets/mizumimori3.jpg" width="270" height="180">
                    </a>
                </div>
            </div>
        </div>
        <div class="univgaku">
            <div class="daimei">
                <a name="青山学院大学">青山学院大学</a>
            </div>
            <div class="campus">
                <p> 青山キャンパス </p>
            </div>
            <div class="sakaana">
                <div class="tomotomo">
                    <a href="/konzatus/aoyama7">
                        7号館食堂チカナナ
                        <br>
                        <img class="irohasu" src="../../../assets/aoyama7.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/aoyama17">
                        17号館食堂イチナナ
                        <br>
                        <img class="irohasu" src="../../../assets/aoyama17.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/aoyamacafe">
                        AGU Book Cafe
                        <br>
                        <img class="irohasu" src="../../../assets/aoyamacafe.jpg" width="270" height="180">
                    </a>
                </div>
            </div>
        </div>
        <div class="univgaku">
            <div class="daimei">
                <a name="立教大学">立教大学</a>
            </div>
            <div class="campus">
                <p> 池袋キャンパス </p>
            </div>
            <div class="sakaana">
                <div class="tomotomo">
                    <a href="/konzatus/rike1">
                        第一食堂
                        <br>
                        <img class="irohasu" src="../../../assets/rike1.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/rikeaibi">
                        レストラン アイビー
                        <br>
                        <img class="irohasu" src="../../../assets/rikeaibi.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/riketullys">
                        TULLY'S COFFEE
                        <br>
                        <img class="irohasu" src="../../../assets/riketullys.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/rikehararu">
                        東京ハラルデリ&カフェ
                        <br>
                        <img class="irohasu" src="../../../assets/rikehararu.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/rike9">
                        9号館軽食堂
                        <br>
                        <img class="irohasu" src="../../../assets/rike9.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/rikehibiya">
                        日比谷松本桜セントポールズ会館
                        <br>
                        <img class="irohasu" src="../../../assets/rikehibiya.jpg" width="270" height="180">
                    </a>
                </div>
            </div>
        </div>
        <div class="univgaku">
            <div class="campus">
                <p> 新座キャンパス </p>
            </div>
            <div class="sakaana">
                <div class="tomotomo">
                    <a href="/konzatus/rniizaforest">
                        Forest
                        <br>
                        <img class="irohasu" src="../../../assets/rniizaforest.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/rniizakokage">
                        こかげ
                        <br>
                        <img class="irohasu" src="../../../assets/rniizakokage.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/rniizahararu">
                        東京ハラルデリ&カフェ
                        <br>
                        <img class="irohasu" src="../../../assets/rniizahararu.jpg" width="270" height="180">
                    </a>
                </div>
            </div>
        </div>
        <div class="univgaku">
            <div class="daimei">
                <a name="法政大学">法政大学</a>
            </div>
            <div class="campus">
                <p> 市ヶ谷キャンパス </p>
            </div>
            <div class="sakaana">
                <div class="tomotomo">
                    <a href="/konzatus/hitigayatudohi">
                        カフェテリア つどひ
                        <br>
                        <img class="irohasu" src="../../../assets/hitigayatudohi.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/hitigayaforest">
                        フォレストガーデン
                        <br>
                        <img class="irohasu" src="../../../assets/hitigayaforest.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/hitigayafujimi">
                        富士見坂校舎食堂
                        <br>
                        <img class="irohasu" src="../../../assets/hitigayafujimi.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/hitigayastafu">
                        スタッフクラブ
                        <br>
                        <img class="irohasu" src="../../../assets/hitigayastafu.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/hitigayatamati">
                        田町校舎食堂
                        <br>
                        <img class="irohasu" src="../../../assets/hitigayatamati.jpg" width="270" height="180">
                    </a>
                </div>
            </div>
        </div>
        <div class="univgaku">
            <div class="campus">
                <p> 多摩キャンパス </p>
            </div>
            <div class="sakaana">
                <div class="tomotomo">
                    <a href="/konzatus/htamaegg">
                        エッグドーム
                        <br>
                        <img class="irohasu" src="../../../assets/htamaegg.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/htamasougou">
                        総合棟食堂
                        <br>
                        <img class="irohasu" src="../../../assets/htamasougou.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/htamasyagaku">
                        社会学部食堂
                        <br>
                        <img class="irohasu" src="../../../assets/htamasyagaku.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/htamakeizai">
                        経済学部食堂
                        <br>
                        <img class="irohasu" src="../../../assets/htamakeizai.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/htamagennfuku">
                        現代福祉学部ラウンジ
                        <br>
                        <img class="irohasu" src="../../../assets/htamagennfuku.jpg" width="270" height="180">
                    </a>
                </div>
                <div class="tomotomo">
                    <a href="/konzatus/htamasupoken">
                        スポーツ健康学部食堂
                        <br>
                        <img class="irohasu" src="../../../assets/htamasupoken.jpg" width="270" height="180">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <ul class="lolol">
                <li style="width: 180px"><a href="#早稲田大学">早稲田大学</a></li>
                <li style="width: 180px"><a href="#明治大学">明治大学</a></li>
                <li style="width: 180px"><a href="#青山学院大学">青山学院大学</a></li>
                <li style="width: 180px"><a href="#立教大学">立教大学</a></li>
                <li style="width: 180px"><a href="#法政大学">法政大学</a></li>
            </ul>
        </div>
    </div>
</div>