/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
* {
  padding: 0;
  margin: 0;
}

.button {
  border: none;
  outline: none;
  background: transparent;
}
.pasta{
  display: flex;
}

.header1{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  background-color: white;
}

.header2{
  display: none;
}

footer{
  display: none;
}

main{
  width: 100%;
  background-color: rgb(255, 255, 255);
}

nav {
  width : 240px;
  float : left;
  -webkit-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.buttonkirai{
  border: none;
  background-color: #00000000;
  width: 100%;
}

.active{
  text-align: center;
}

/*label {
  display     : inline-block;
  margin-left : auto;
  width       : 60px;
  padding     : 18px 0;
  background-color: rgba(100,100,100,.3);
  font-size : 30px;
  color : #000000;
  text-align : center;
  cursor : pointer;
}*/

ul.lol li {
  list-style-type : none;
  border-top    : 1px solid rgb(255, 255, 255);
  border-bottom : 1px solid #c9c9c9;
  background-color: #ffffff;
  background-size : 200% 100%;
  background-position : 90% 0px;
  -webkit-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

ul.lol a:hover{
  color : #ffffff;
  -webkit-transition : color .1s;
  -moz-transition : color .1s;
}

.buttonkirai:hover{
  color : white;
  -webkit-transition : color .1s;
  -moz-transition : color .1s;
}

ul.lol a,.buttonkirai {
  display    : block;
  padding    : 25px 0;
  color      : #000000;
  text-align : center;
  font-family: 'Source Code Pro', sans-serif;
  text-decoration: none;
  -webkit-transition : color .1s;
  -moz-transition : color .1s;
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 19px;
}

ul.lol li:nth-child(1) {
  border-top : none;
  background-image : -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
  background-image : -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
}

ul.lol li:nth-child(2) {
  background-image : -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
  background-image : -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
}

ul.lol li:nth-child(3) {
  background-image : -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
  background-image : -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
}

ul.lol li:nth-child(4) {
  background-image : -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
  background-image : -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
}

ul.lol li:nth-child(5) {
  background-image : -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
  background-image : -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
}

ul.lol li:nth-child(6) {
  background-image : -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
  background-image : -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
}

ul.lol li:nth-child(6) {
  background-image : -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
  background-image : -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
}

ul.lol li:nth-child(7) {
  background-image : -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
  background-image : -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #ffffff 0%);
}

ul.lol li:hover {
  -webkit-transition : 0.3s cubic-bezier(0.175, 0.285, 0.32,1.0) all;
  -moz-transition : 0.3s cubic-bezier(0.175, 0.285, 0.32,1.0) all;
  background-position : 0% 0%;
}

#toggle:checked ~ nav {
  margin-left:  -240px;
  -webkit-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.loading {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.loading.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}
.loading-wrap {
  position: abolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 20px;
}
.loading-wrap i{
  color: #f16767;
}

@media screen and (max-width:480px) {
  .header1{
    display: none;
  }
  .header2{
    display: block;
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
    background-color: #ffffff; 
    border-bottom: solid 2px;
    border-color: #000000;
  }
  .header2 img{
    margin-left: 8px;
  }
  .pasta{
    display: block;
  }
  ul,
  li {
    list-style: none;
  }

  .header__inner {
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative;
  }
  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease .4s;
  }
  .nav-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  .nav-items__item a {
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 17px;
    margin-bottom: 24px;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .nav-items__item input{
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .nav-items__item:last-child a {
    margin-bottom: 0;
  }
  .header__hamburger {
    width: 48px;
    height: 100%;
    margin-right: 11px;
  }
  .hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
  }
  .hamburger span {
    width: 100%;
    height: 1px;
    border: solid 2px;
    background-color: #000;
    position: relative;
    transition: ease .4s;
    display: block;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    margin: 5px 0;
  }
  .hamburger span:nth-child(3) {
    top: 0;
  }
  .header__nav.active {
    transform: translateX(0);
  }
  .hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  
  }
  .hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }
}